@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

 

:root {

  --primary-color: #ffc300;

  --seconday-color: #ae8507;

}

 

* {

  box-sizing: border-box;

}

html {

  scroll-behavior: smooth;

}

body {

  margin: 0;

  padding: 0;

  font-family: 'Montserrat', sans-serif;

  color: black;

  background-color: white;

}

 

a {

  text-decoration: none;

  color: black;

}

 