.aptDetails table {
    border-collapse: collapse;
    width: 100%;
  
  }
  .aptDetails{
    margin: 0 10px;
    flex: 1;
  }
  .aptDetails table th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
  }
  
  .aptDetails table  tr:hover {background-color: #D6EEEE;}

  @media only screen and (max-width: 675px) {
    .show-apt-data:nth-child(2){
      flex-direction: column-reverse;
    }  
  }