.wrapper-dashboard-container{
    display: flex;
    min-height: 100vh;
}

.dashboard-container{
    background-color: #f6f8fa;
    flex: 1;
}
@media only screen and (max-width: 675px) {
    .wrapper-dashboard-container{
        flex-direction: column;
    }
}