.features {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr min-content min-content;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #f6f8fa;
  }
  .feature-image {
    width: 100%;
    height: auto;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 0px 20px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .info {
    grid-column: 3/7;
    min-height: 60px;
    position: relative;
  }
  .info .card {
    min-height: 120px;
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .typer {
    grid-row: 2/3;
    grid-column: 3/7;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: -20px;
    margin-top: 15px;
    display: flex;
    height: 36px;
    overflow: hidden;
    line-height: 36px;
    align-items: flex-start;
    justify-content: center;
  }
  .typer  ul{
    align-items: flex-start;
    list-style: none;
    display: flex;
    flex-direction: column;
    line-height: 36px;
    margin: 0 10px;
    padding: 0 ;
    animation: typing 8s steps(4) infinite ;
  }
  @keyframes typing {
    
    100%{
        transform: translateY(-144px);
    }
  }
  .features_content {
    grid-row: 3/4;
    grid-column: 2/8;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
  }
  .features_content .card {
    max-width: 250px;
    padding-top: 20px;
  }

  
  @media only screen and (max-width: 960px) {
    .typer{
        display: none;
    }
    .features {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr min-content min-content;
      justify-content: center;
      align-items: center;
      margin: auto 30px;
    }
  
    .info {
      grid-column: 1/4;
    }
  
    .features_content {
      grid-row: 3/4;
      grid-column: 1/4;
    }
  }
  @media only screen and (max-width: 765px) {
    
    .features {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr min-content;
      justify-content: center;
      align-items: center;
      margin: auto 30px;
    }
  
    .info {
      grid-column: 1/4;
    }
  
    .features_content {
      grid-row: 2/3;
      grid-column: 1/4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 50px 30px;
    }
    .features_content > * {
      margin: 20px 0px;
    }
    
    .button {
      justify-self: flex-start;
    }
  }
  