
  .slider {
    width: 100%;
    height: min-content;
    display: flex;
    position: relative;
    padding: 1em;
  }
  .view {
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  
  .left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    font-size: 50px;
    color: var(--primary-color);
    cursor: pointer;
  }
  .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    font-size: 50px;
    color: var(--primary-color);
    cursor: pointer;
  }
  